<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723424843421-o3e2e5iqr652ktjk146o59np3cq0megn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723424843421-o3e2e5iqr652ktjk146o59np3cq0megn</string>
	<key>API_KEY</key>
	<string>AIzaSyDzBlV44m_43C34qg06g6d6_8ag8hFL-RY</string>
	<key>GCM_SENDER_ID</key>
	<string>723424843421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.urielytApp</string>
	<key>PROJECT_ID</key>
	<string>yt-app-50c1f</string>
	<key>STORAGE_BUCKET</key>
	<string>yt-app-50c1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723424843421:ios:fa6ccf480d246072cb2674</string>
</dict>
</plist>